{% extends "chicp/base.html" %}
{% load staticfiles %}
{% block header_css %}

<link href="{% static "chicp/css/bootstrap-slider.css" %}" rel="stylesheet">
<link href="{% static "chicp/css/bootstrap.fd.css" %}" rel="stylesheet">
<link href="{% static "chicp/css/jquery.cookiebar.css" %}" rel="stylesheet">
<link href="{% static "chicp/css/tipsy.css" %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static "chicp/css/modal.css" %}" rel="stylesheet">

<style>
<!--
.cookie_hide { display:none; }
-->
</style>
{% endblock %}

{% block header_js %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
{% endblock %}


{% block sidebar_content %}
				<ul class="nav nav-sidebar navbar-form navbar-left" style="margin-bottom:0px;">
					<!-- <form class="navbar-form navbar-left" role="search" name="search" style="margin-bottom:0px;">-->
					<input type="hidden" id="regionSearch" value="{{ region }}">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search Term"
							id="search_term" value="{{ searchTerm }}">
						<button type="submit" class="btn btn-default" id="pushme">Submit</button>
					</div>
					<div class="panel panel-default" style="margin-top: 20px">
						<div class="panel-heading">Promoter Capture Datasets</div>
						<div class="panel-body">
							<div class="form-group" style="width:100%">
								<select class="form-control targets" name="target" id="target" onchange="switch_targets(this)" style="width:100%">
						{% for idx in allIndexes %}
									<option value="{{ idx.value }}"{% if idx.value ==  default_target %} selected="selected"{% endif %}>{{ idx.text }}</option>
						{% endfor %}
								</select>
							</div>
							<div class="form-group" style="padding-top:10px;">
					{% for t in allTissues %}
								<div class="radio tissue {{ t.class }}" style="display: none">
									<label><input type="radio" name="tissue" value="{{ t.value }}"
									{% if t.value ==  tissue or t.value ==  default_tissue %} checked="checked"{% endif %}
									>&nbsp;{{ t.text }}&nbsp;<span id="{{ t.value }}_count">(0)</span></label>
								</div>
					{% endfor %}
							</div>
						</div>
					</div>
					<div class="panel panel-default cookie_hide" style="margin-top: 20px;">
						<div class="panel-heading">Association Studies</div>
						<div class="panel-body">
							<div class="form-group">
								<select class="form-control gwas" name="gwas" id="gwas" onchange="switch_snp_track(this)" style="width:100%">
								{% for group, tracks in snpTracks.items %}
								{% if group == 'User Data' %}
									<optgroup id="userData" label="{{ group }}">
								{% else %}
									<optgroup label="{{ group }}">
								{% endif %}
									{% for t in tracks %}
										<option value="{{ t.value }}"{% if t.value ==  snp_track %} selected="selected"{% endif %}>{{ t.text }}</option>
									{% endfor %}
									</optgroup>
								{% endfor %}
								</select>
							</div>
							<div class="strike"><span>OR</span></div>
							<form class="hidden-xs hidden-sm" role="upload" name="fileUpload" id="fileUpload" style="margin-top:0px;" method="post" enctype="multipart/form-data" action="/chicp/fileUpload">
								{% csrf_token %}
								<button id="open_btn" class="btn btn-primary btn-block" type="button">Upload Your Own Data</button>
							</form>
						</div>
					</div>
				</ul>
{% endblock %}

{% block content %}
				<span style="float: right" class="no-print">
					<button class="btn btn-primary" id="save_as_svg" value="">
						<i class="fa fa-floppy-o"></i>&nbsp;SVG
					</button>
					<button class="btn btn-primary" id="save_as_pdf" value="">
						<i class="fa fa-floppy-o"></i>&nbsp;PDF
					</button>
					<button class="btn btn-primary" id="save_as_png" value="">
						<i class="fa fa-floppy-o"></i>&nbsp;PNG
					</button>
				</span>
				<h1 class="page-header" id="page_header"></h1>
				<ol class="breadcrumb no-print" id="breadcrumb">
					<li><a href="/chicp/">Start</a></li>
				</ol>
				<div class="row svg-row" style="max-height:720px;">
					<div class="col-sm-12 col-lg-6">
						<div id="svg-container"></div>
					</div>
					<div class="col-sm-12 col-lg-6">
						<div class="row">
							<div class="col-sm-12">
								<div class="panel panel-info">
									<div class="panel-heading">
									<span id="footer-bait" style="font-size:0.9em; font-style:italic; float:right">&nbsp;</span>
										<h3 class="panel-title">Bait</h3>
									</div>
									<div style="height: 300px;" class="panel-body panel-seq" id="panel-bait"></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="panel panel-danger">
									<div class="panel-heading">
										<span id="footer-target" style="font-size: 0.9em; font-style: italic; float:right">&nbsp;</span>
										<h3 class="panel-title">Target</h3>
									</div>
									<div style="height: 300px;" class="panel-body panel-seq" id="panel-target"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
{% endblock %}


{% block pre_footer %}	
	<!-- line modal -->
	<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
					<h3 class="modal-title" id="lineModalLabel">CHiCP Settings</h3>
				</div>
				
				<div class="modal-body">
					<!-- content goes here -->
					<span id="scoreSliderValLabel">Interaction Score:&nbsp;</span><input id="scoreSliderInput" type="text" />&nbsp;<span id="scoreSliderVal">5</span>
					<h4>User Data Tracks</h4>
					<ul id="userSettings" style="padding:0px; list-style:none;cursor:pointer;"></ul>
				</div>

				<div class="modal-footer">
					<div class="btn-group btn-group-justified" role="group" aria-label="group button">
						<div class="btn-group" role="group">
							<button type="button" id="saveSettings" class="btn btn-primary" data-action="save" role="button">Save</button>
						</div>
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-default" data-dismiss="modal" role="button">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Hidden <FORM> to submit the SVG data to the server, which will convert it to SVG/PDF/PNG downloadable file.
		The form is populated and submitted by the JavaScript below. -->
	<form id="svgform" method="post" action="/chicp/download">
		{% csrf_token %}
		<input type="hidden" id="output_format" name="output_format" value="">
		<input type="hidden" id="data-main" name="data-main" value="">
		<input type="hidden" id="data-bait" name="data-bait" value="">
		<input type="hidden" id="data-target" name="data-target" value="">
		<input type="hidden" id="svg-width" name="svg-width" value="">
		<input type="hidden" id="svg-height" name="svg-height" value="">
		<input type="hidden" id="searchTerm" name="searchTerm" value="">
		<input type="hidden" id="tissue" name="tissue" value="">
		<input type="hidden" id="snp_track" name="snp_track" value="">
		<input type="hidden" id="css-styles" name="css-styles" value="">
		<input type="hidden" id="totalBP" name="totalBP" value="">
		<input type="hidden" id="region" name="region" value="">
		<input type="hidden" id="maxScore" name="maxScore" value="">
	</form>
{% endblock %}


{% block footer %}
	<script type="text/javascript" src="{% static "chicp/js/tipsy.js" %}"></script>
	<script type="text/javascript" src="{% static "chicp/js/jquery.isloading.js" %}"></script>
	<script type="text/javascript" src="{% static "chicp/js/bootstrap.fd.js" %}"></script>
	<script type="text/javascript" src="{% static "chicp/js/jquery.cookie.js" %}"></script>
	<script type="text/javascript" src="{% static "chicp/js/jquery.cookiebar.js" %}"></script>
	<script type="text/javascript" src="{% static "chicp/js/bootstrap-slider.js" %}"></script>
	<script type="text/javascript" src="{% static "chicp/js/hic-vis.js" %}"></script>
	<script type="text/javascript">
		function styles() {
			var used = "";
			var sheets = document.styleSheets;
			for (var i = 0; i < sheets.length; i++) {
				if (sheets[i].href == null || sheets[i].href.match(window.location.hostname)){
					var rules = sheets[i].cssRules;
					for (var j = 0; j < rules.length; j++) {
						var rule = rules[j];
						if ('undefined' !== typeof rule.selectorText && rule.selectorText.match(/^svg/)){
							used += rule.selectorText + " { "+ rule.style.cssText + " }\n";
						}
					}
				}
			}
 
			var s = document.createElement('style');
			s.setAttribute('type', 'text/css');
			s.innerHTML = "<![CDATA[\n" + used + ".svg_only{ display:inline; }\n.svg_hide{ display:none }\n]]>";
			
			return s.innerHTML;
		}
		
		function submit_download_form(output_format) {
			baitSVG = "";
			targetSVG = "";
			svgWidth = $("#main-svg").width()
			svgHeight = $("#main-svg").height()

			if ($("svg").length == 3) {
				baitSVG = (new XMLSerializer).serializeToString($("#bait-svg")[0]);
				targetSVG = (new XMLSerializer).serializeToString($("#target-svg")[0]);
				svgWidth += $("#bait-svg").width();
				svgHeight2 = $("#bait-svg").height() + $("#target-svg").height()
				if (svgHeight2 > svgHeight)
					svgHeight = svgHeight2
			}

			// Submit the <FORM> to the server.
			// The result will be an attachment file to download.
			$("#output_format").val(output_format);
			$("#data-main").val((new XMLSerializer).serializeToString($("#main-svg")[0]));
			$("#data-bait").val(baitSVG);
			$("#data-target").val(targetSVG);
			$("#svg-width").val(svgWidth);
			$("#svg-height").val(svgHeight);
			$("#searchTerm").val($("#search_term").val());
			$("#tissue").val($("input:radio[name=tissue]:checked").val());
			$("#snp_track").val($("#gwas").val());
			$("#css-styles").val(styles());
			$("#svgform").submit();
		}
		function switch_snp_track(selectObj) {
			var region = $("#region").val();
			var term = $("#search_term").val();
			var tissue = $("input:radio[name=tissue]:checked").val();
			var gwas = selectObj.options[selectObj.selectedIndex].value;
			var targetIdx = $("#target")[0].options[$("#target")[0].selectedIndex].value;
			$.isLoading({ text: "Loading" });
			d3.json("/chicp/search?searchTerm="+term+"&region=" + region + '&targetIdx='+targetIdx+'&tissue=' + tissue + '&snp_track=' + gwas, function (error, data) {
				d3.select("#message").remove();
				if (error) {$.isLoading( "hide" ); console.warn(error);return;}

				d3.select("#svg-container").selectAll(".snp").remove();
				d3.select("#svg-container").selectAll(".deleteSearch").remove();
	    		resetVis();
	    		
				if (data.error) {
					$.isLoading( "hide" ); 
					div = d3.select("#svg-container")
						.insert("div",":first-child")
						.html("<h1>"+data.error+"</h1>")
						.attr("id", "message")
						.style("width", "100%")
						.style("text-align", "center");
					return;
				}

				d3.select("#svg-container").selectAll(".track.snps").remove();
		        var totalBP = data.meta.rend - data.meta.rstart;
		        META = data.meta;
				addSNPTrack(data.snps, data.snp_meta);
		        addSNPTrackPoints(data.snps, data.snp_meta, totalBP);
		        $("#snp_track_header").html("SNP Data: "+$('#gwas option:selected').text());
		        $.isLoading( "hide" );
			});
		}
		function switch_targets (selectObj) {
			var target = selectObj.options[selectObj.selectedIndex].value;
			$(".tissue").hide();
			$(document.getElementsByClassName(target)).css('display', 'block');
			$(".tissue").find("input:radio").each(function () { $(this).prop('checked', false); });
			$(document.getElementsByClassName(target)).first().find("input:radio").prop('checked',true);
			
			var region = $("#region").val();
			var term = $("#search_term").val();
			var tissue = $("input:radio[name=tissue]:checked").val();
			var gwas = $("#gwas").val();

	        $(".page-header").html(term + " in " + tissue.replace(/_/g, " ") + " Tissues");
			
			$.isLoading({ text: "Loading" });
			d3.json("/chicp/search?searchTerm="+term+"&region=" + region + '&targetIdx='+target+'&tissue=' + tissue + '&snp_track=' + gwas, function (error, data) {
				if (error) {$.isLoading( "hide" ); console.warn(error); return}
				d3.select("#svg-container").selectAll(".middle.hic").remove();
				d3.select("#svg-container").selectAll(".deleteSearch").remove();
	    		resetVis();
		        var totalBP = data.meta.rend - data.meta.rstart;
		        META = data.meta;
		        var hics = data.hic;
				if (hics.length == 0) {
					div = d3.select("#svg-container")
						.append("div")
						.html("<h1>No interactions found</h1>")
						.attr("id", "message")
						.style("width", "100%")
						.style("text-align", "center")
						.style("padding-top", "200px");
			        $.isLoading( "hide" );
					return;
				}
				for (var i = 0; i < hics.length; i++) {
				    hics[i].id = i + 1;
				}
				var tissues = [];
				for (var i=0;i<META.tissues.length;i++) {
					tissues[META.tissues[i]] = 0;
				}
		        addInteractions(hics, totalBP, tissues);
				for(var t in tissues) {
					$("#"+t+"_count").text("("+tissues[t]+")");
				}
		        $.isLoading( "hide" );
			});
		}
		$(document).ready(function() {
		
			localStorage["interactionScore"] = localStorage["interactionScore"] || 5;
			var interactionScore = localStorage["interactionScore"];
			
			// Interaction Score Slider
			$("#scoreSliderVal").text(localStorage["interactionScore"])
			$("#scoreSliderInput").slider({ id: "scoreSlider", value: parseInt(localStorage["interactionScore"]), min: 0, max: 20, step: 0.5 });
			$("#scoreSliderInput").on("slide", function(slideEvt) {
				$("#scoreSliderVal").text(slideEvt.value);
			});
			
			$("#saveSettings").click(function() {
				localStorage["interactionScore"] = $("#scoreSliderInput").val();
				renderVis();
				$('#settingsModal').modal('hide');
			});
			
			$(document).on("click", ".deleteUD", function(e){
				file = $(this).text();
				id = this.id
				var r = confirm("Are you sure you want to delete"+file+"?");
				if (r == true) {
					$.isLoading({ text: "Loading" });
	                var formData = new FormData();
	                formData.append("userDataIdx", id.replace('userdata-',''));
	                formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");
					$.ajax({
	                	url: "deleteUserData",
	                	type: "POST",
	                	data: formData,
	                	processData: false,  // tell jQuery not to process the data
	                	contentType: false,   // tell jQuery not to set contentType
	                	success: function(data){
	                		if(data.acknowledged){
	                			localStorage.removeItem(id);
	                			optGroup = $("#userData");			
	                			optGroup.find('option[value="'+id+'"]').remove();
	                			userSettings = $("#userSettings");
	                			userSettings.find('li#'+id).remove();
	                		}
	        		        $.isLoading( "hide" );
	                	},
	                	error: function(e){
	        		        $.isLoading( "hide" );
	                	}
	                });
					
					
					
					
				}
			});
			
			
			$("#save_as_svg").click(function() {
				submit_download_form("svg");
			});
			$("#save_as_pdf").click(function() {
				submit_download_form("pdf");
			});
			$("#save_as_png").click(function() {
				submit_download_form("png");
			});
			
			$("#open_btn").click(function() {
				$.FileDialog({multiple: true, dropheight: 200, accept: ".bed"}).on('files.bs.filedialog', function(ev) {

					$.isLoading({ text: "Loading" });
	                var files = ev.files;
	                var action = $("#fileUpload").attr('action')
	                
	                var formData = new FormData();
	                files.forEach(function(f) {
	                	formData.append('files[]', f);
	                });
	                formData.append("csrfmiddlewaretoken", "{{ csrf_token }}")
	                
	                $.ajax({
	                	url: action,
	                	type: "POST",
	                	data: formData,
	                	processData: false,  // tell jQuery not to process the data
	                	contentType: false,   // tell jQuery not to set contentType
	                	success: function(data){
	                		optGroup = $("#userData");
	                		userSettings = $("#userSettings");
	                		for (i = 0; i < data.userSNPTracks.length; i++) {
	                			f = data.userSNPTracks[i]
	                			localStorage["userdata-"+f.value] = f.text
	                			optGroup.append('<option value="userdata-'+f.value+'">'+f.text+'</option>');
	                			userSettings.append('<li class="deleteUD" id="userdata-'+f.value+'"><i class="fa fa-trash-o" id="DEL-'+localStorage.key(i)+'"></i>&nbsp;'+f.text+'</li>');
	                		}
	        		        $.isLoading( "hide" );
	                	},
	                	error: function(e){
	        		        $.isLoading( "hide" );
	                	}
	                });
	            }).on('cancel.bs.filedialog', function(ev) {
	            	console.log("Cancelled!")
	            });
			});
			
			selectObj = $("#target")[0]
			var target = selectObj.options[selectObj.selectedIndex].value;
			$(".tissue").hide();
			$(document.getElementsByClassName(target)).css('display', 'block');
			$(".tissue").find("input:radio").each( function () {
				console.log()
				if ($(this).val() == "{{ default_tissue }}")
					$(this).prop('checked', true);
				else
					$(this).prop('checked', false);
				});

			$.cookieBar({
				message: 'Some data on this website are only available after acceptance of our <a style="padding:0px; margin:0px;" href="https://www.immunobase.org/page/Copyright" title="read our data access agreement" target="_blank">data access agreement</a> and cookies.',
				fixed: true,
				bottom: true,
				acceptButton: true,
				acceptText: 'Accept',
				declineButton: true,
				declineText: 'Decline',
				autoEnable: false,
				acceptFunction: function(cookieValue){ switch_snp_track($("#gwas")[0]); showCookieProtected(); },
				zindex: 100,
			});

			if ($.cookie('cb-enabled') == 'enabled' || $.cookie('cb-enabled') == 'accepted'){
				showCookieProtected();
			
	    		optGroup = $("#userData");
	    		userSettings = $("#userSettings");
	    		optGroup.empty();
	    		userSettings.empty();
	    		for (var i = 0; i < localStorage.length; i++){
	    			if (localStorage.key(i).match(/userdata-/g)){
	    				//console.log(localStorage.key(i))
	    				optGroup.append('<option value="'+localStorage.key(i)+'">'+localStorage.getItem(localStorage.key(i))+'</option>');
	    				userSettings.append('<li class="deleteUD" id="'+localStorage.key(i)+'"><i class="fa fa-trash-o" id="DEL-'+localStorage.key(i)+'"></i>&nbsp;'+localStorage.getItem(localStorage.key(i))+'</li>');
	    			}
	    		}
			}
			
			function showCookieProtected(){
				var styleSheetList = document.styleSheets;
				var styleSheet = styleSheetList[styleSheetList.length-1]
				if (!styleSheet) return;
				var theRules = new Array();
				if (styleSheet.cssRules)
					theRules = styleSheet.cssRules
				else if (styleSheet.rules)
					theRules = styleSheet.rules
				else return;
				theRules[0].style.display = '';
			}
			

			var termParam = getQueryVariable("term");
			if (termParam == undefined){ termParam = 'IL2RA'; }
			var tissueParam = $("input:radio[name=tissue]:checked").val();
			renderHic(termParam, tissueParam, 1)
			
		});
	</script>
{% endblock %}